* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(223, 223, 223);
}

nav {
    width: 100vw;
    height: 50px;
    background-color: red;
}

main {
    margin: 20px auto;
    width: 1000px;
    height: 582px;
    background-color: orange;
    h1 {
        color: blue;
        text-align: center;
        padding: 10px;
    }
    #main-area {
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        background-color: green;
        width: 900px;
        height: 460px;
        #stats {
            background-color: purple;
            width: 100px;
        }
        #characters {
            background-color: brown;
            width: 100px;
        }
    }
    #buttons {
        margin: 0 auto;
        width: 300px;
        height: 40px;
        background-color: pink;
        display: flex;
        justify-content: space-between;
        align-items: center;
        #switch-mode {
            width: 60px;
            height: 30px;
            background-color: blue;
            border-radius: 50px;
            #switch-mode-toggler {
                width: 30px;
                height: inherit;
                background-color: green;
                border-radius: 50%;
            }
        }
    }
}

footer {
    width: 100vw;
    height: 50px;
    background-color: grey;
}